.dashboard {
  width: 1150px;
  height: 700px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: white;
  border-radius: 10px;
  padding: 10px 10px 20px;
}

.dashboard-notab {
  width: 1100px;
  height: 700px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: white;
  border-radius: 10px;
  padding: 10px 10px 20px;
  margin-top: 112px;
}

.dashboard-notab::-webkit-scrollbar,
.dashboard::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.dashboard-notab::-webkit-scrollbar-thumb,
.dashboard::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.dashboard h2,
.dashboard-notab h2,
.dashboard-notab h3,
.dashboard h3 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 100px;
}

.table th,
.table tr,
.table td {
  min-width: 120px;
  max-width: 150px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  overflow: hidden; /* Prevent text overflow */
}

.textfield {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 150px;
  font-size: 16px;
}

.textfield::placeholder {
  color: white;
  font-size: 16px;
}

/* Button Styles */
.accept-button,
.decline-button {
  padding: 8px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50px;
  font-size: 16px;
  font-weight: 700;
}

.accept-button {
  background-color: green;
}

.decline-button {
  margin-left: 10px;
  background-color: red;
}

/* Tab Buttons */
.tab-buttons button {
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 2px;
  width: 150px;
  max-width: 150px;
  margin-top: 70px;
}

.tab-buttons button.active {
  border-bottom: 3px solid #000;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
  backdrop-filter: blur(10px);
  color: white;
  font-size: 16px;
}

select option {
  background-color: #4f6f52;
  border: none;
}
