.first-button,
.second-button,
.third-button {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  font-weight: 700;
  font-size: 40px;
}

.second-button {
  right: 150px;
}

.third-button {
  right: 270px;
}
