.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.password-icon:hover {
  cursor: pointer;
}

.role {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  padding: 10px;
}

.role label {
  display: inline-flex;
  align-items: center;
}

.role input[type="radio"] {
  accent-color: #232323;
  outline: none;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.login-link p a:hover {
  text-decoration: underline;
}

.wrapper .error-message {
  font-size: 14px;
  text-align: left;
  margin: 5px 10 15px;
}

.error-message p {
  color: red;
  text-decoration: none;
  font-weight: 600;
  margin-left: 15px;
}

.input-box error {
  color: red;
  border: 2px solid rgba(255, 0, 0, 0.2);
}
