/*overall wrapper around everything*/
.wrapper1 {
  display: flex;

  width: 1800px;
  height: 830px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/*warpper around the calendar*/
.calendarWrapper {
  display: fix;
  align-items: center;
  padding: auto;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  padding: 30px 40px;
}

/*navigation bar from the calendar*/
.goto header {
  display: flex;
  align-items: center;
  padding: auto;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 10px;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background: #f2f2f2;
  color: black;
}
header .icons span:hover {
  background: #f2f2f27a;
}

/*design the calendar itself*/
.calendar {
  padding: 20px;
  height: 90%;
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .weeks li {
  margin-top: 20px;
  font-weight: 500;
}
.calendar .days {
  margin-top: 60px;
  cursor: pointer;
  margin-bottom: 10px;
  flex-wrap: wrap;
  height: 100%;
}
.calendar ul li {
  z-index: 1;
  position: relative;
  width: calc(100% / 7);
}

.days li.inactive {
  color: #aaa;
}
.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -175%);
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.days li:hover::before {
  background: #f2f2f2;
}
.days li.active::before {
  background: #9b59b6;
}

/*styleing the right information box about the left vacation and the vacation request*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.requestVacation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 80px;
  padding: 20px 20px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 300px;
  cursor: pointer;
  font-size: 1rem;
}
.container .requestVacation:hover {
  background: #f2f2f2;
}

.leftOverVacation {
  padding: 20px 20px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 95%;
  text-align: center;
  margin-top: 60px;
}

/*pop up vacation request menu*/

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

    .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

    .modal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }