/* App.css */
.App {
  text-align: center;
  margin-top: 50px;
}

.registration-container {
  width: 300px;
  margin: 0 auto;
}

.login-container {
  width: 300px;
  margin: 0 auto;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.background {
  background-image: url("../resources/wavyBackground.svg");
}
